<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <div class="header-left col-md-9">
      <div class="col-md-6">
        <mat-form-field style="display: block;">
          <mat-select [disableOptionCentering]="true" #select1 placeholder="Search Profiles">
            <mat-select-filter *ngIf="select1.focused" [array]="variables" (filteredReturn)="filteredList2 =$event"></mat-select-filter>
            <mat-option *ngFor="let item of filteredList2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="margin: 5px 0 0 20px;">
        <span class="radius green mg-l10">Search</span>
      </div>
    </div>
    <div>
      <mat-icon class="mg-10">notifications_none</mat-icon>
      <mat-icon class="mg-10"> email</mat-icon>
      <mat-icon class="mg-10">settings</mat-icon>
    </div>
    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align-items-center">
            <img src="./assets/user.jpg" alt="" class="user-image mr-1 p-2" />
            User Name
            <mat-icon class="user-image-icon ml-1"
              >keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
