<div class="flex pd-30 bg-white">
    <div><img style="width: 200px" src="./assets/OIP.jpg" alt="Company Logo" /></div>
    <div class="column-dir pd-l10">
        <div class="mg-10">Name Of Company 
            <span class="radius gray"> 20k Follower</span>
            <span class="radius green mg-l10"> favorites</span>
        </div>
        <div class="mg-10">Excellent work and creative elusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud</div>
        <div>
            <span class="radius gray mg-10">Tourist</span>
            <span class="radius orange mg-10">City</span>
            <span class="radius bg-green mg-10">Architecture</span>
            <span class="radius red mg-10">Mountain</span>
        </div>
    </div>
</div>
<app-card [list]="list"></app-card>