<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="col-md-12 flex pd30">
      <div class="col-md-2">
        <label>Region</label>
        <mat-form-field style="display: block; padding-right: 5px;" class="col-md-12">
          <mat-select [disableOptionCentering]="true" #select1 placeholder="Auto Focus">
            <mat-select-filter *ngIf="select1.focused" [array]="variables" (filteredReturn)="filteredList2 =$event"></mat-select-filter>
            <mat-option *ngFor="let item of filteredList2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <label>Country</label>
        <mat-form-field style="display: block; padding-right: 5px;" class="col-md-12">
          <mat-select [disableOptionCentering]="true" #select1 placeholder="Auto Focus">
            <mat-select-filter *ngIf="select1.focused" [array]="variables" (filteredReturn)="filteredList2 =$event"></mat-select-filter>
            <mat-option *ngFor="let item of filteredList2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <label>State</label>
        <mat-form-field style="display: block; padding-right: 5px;" class="col-md-12">
          <mat-select [disableOptionCentering]="true" #select1 placeholder="Auto Focus">
            <mat-select-filter *ngIf="select1.focused" [array]="variables" (filteredReturn)="filteredList2 =$event"></mat-select-filter>
            <mat-option *ngFor="let item of filteredList2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <label>City</label>
        <mat-form-field style="display: block; padding-right: 5px;" class="col-md-12">
          <mat-select [disableOptionCentering]="true" #select1 placeholder="Auto Focus">
            <mat-select-filter *ngIf="select1.focused" [array]="variables" (filteredReturn)="filteredList2 =$event"></mat-select-filter>
            <mat-option *ngFor="let item of filteredList2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <label>Company</label>
        <mat-form-field style="display: block; padding-right: 5px;" class="col-md-12">
          <mat-select [disableOptionCentering]="true" #select1 placeholder="Auto Focus">
            <mat-select-filter *ngIf="select1.focused" [array]="variables" (filteredReturn)="filteredList2 =$event"></mat-select-filter>
            <mat-option *ngFor="let item of filteredList2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="center">
        <span class="radius bg-green mg-10">Search</span>
      </div>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
