<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Profile
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/courses"> <mat-icon>edit</mat-icon> Courses </a>
  <a mat-list-item> <mat-icon>settings_applications</mat-icon> Applications </a>
  <a mat-list-item> <mat-icon>school</mat-icon> Students </a>
  <a mat-list-item> <mat-icon>school</mat-icon> Graduation </a>
  <a mat-list-item> <mat-icon> email</mat-icon> Email </a>
  <a mat-list-item> <mat-icon>poll</mat-icon> Analytics </a>
  <a mat-list-item> <mat-icon>business_center</mat-icon> My Works </a>
  <a mat-list-item> <mat-icon> insert_invitation</mat-icon> Invites </a>
  <a mat-list-item> <mat-icon>settings</mat-icon> Setting </a>
</mat-nav-list>
