<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Profile
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/courses"> <mat-icon>edit</mat-icon> Courses </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Applications </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Students </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Graduation </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Email </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Analytics </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> My Works </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Invites </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Setting </a>
</mat-nav-list>
