<p>card works!</p>

<div class="pd-15">
    <div>
        <img src="./assets/user.jpg" alt="" class="user-image mr-1 p-2" />
        <span class="font-700">UI Science Progress Experiment.</span>
    </div>
    <div>
        Apple's senior vice president at interner Software and Services
    </div>
    <div>

    </div>
    <div>
        <div>
            <mat-icon>people_outline</mat-icon>
            <span>180 Student</span>
        </div>
        <div>
            <mat-icon>watch_later</mat-icon>
            <span>16 Hours</span>
        </div>
    </div>
</div>